<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> Welcome to Quoting Dojo! </h1>
    <form action="/quotes" method="POST">
        <label> Your Name: </label><br>
        <input type="text" name="name"><br>
        <label>Your Quote: </label><br>
        <input type="text" name="quote"><br>
        <button type="submit">Add my quote!</button>
    </form>
    <form action="/quotes">
        <button> Skip to the quotes!</button>
    </form>


     <% if(typeof(errors) != 'undefined' ) { %>
        <% for (var x in errors) { %>
            <h3><%= errors[x].message %></h3>
        <% } %>
    <% } %>

    
</body>
</html>