<div ng-controller="usersController">


    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Fav Language</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="user in users">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.favoriteLanguage}}</td>
            <td><button ng-click="removeUser($index)">Delete User</button></td>
        </tr>

    </table>
    <form>
        <label>First Name: </label>
        <input type="text" ng-model="firstName"><br>
        <label>Last Name: </label>
        <input type="text" ng-model="lastName"><br>
        <label>Favorite Language: </label>
        <input type="text" ng-model="favoriteLanguage"><br>
        <button ng-click="addUser()">Create User</button>
    </form>


</div>