h4{
    margin-left: 39%;
    outline: 2px solid black;
    display:inline-block;
    padding: 15px;
}
    

h1{
    margin-left: 35%;
    outline: 2px solid black;
    display:inline-block;
    padding: 15px;
}