<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Team</h1>
    <ol>
    {% for team in teams %}
        <li><a href='{% url "basketball:team" id=team.id%}'>{{team.team_name}}</a></li>
    {% endfor %}

    </ol>
    <h3>Add Team</h3>
    <form action="/make_team" method="POST">
        {% csrf_token %}
        <input type="text" name="team">
        <input type="submit">
    </form>
    
</body>
</html>