<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>
    <form action="/username_valid" method="POST">
        {% csrf_token %} 
        Please input a user name: <input type="text" name="user_name">
        <input type="submit" value="Submit">

        {%for message in messages%}
        {{message}}
        {% endfor %}
    </form>
</body>
</html>