<div ng-controller="playersController">
    <a href="/#!/teams">Teams</a>
    <a href="/#!/associations">Associations</a>

    <h2>Players</h2>

    <table>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="player in players">
            <td>{{player.name}}</td>
            <td><button ng-click="playerRemove($index)">Delete Player</button></td>
        </tr>
    </table>
    <h4>Add Player</h4>
    <form>
        <label>Name: </label>
        <input type="text" ng-model="playerName">
        <button ng-click="playerAdd()">Make a New Player</button>
    </form>
</div>