<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load staticfiles %}
      <!-- The line above tells Django to be ready to listen for static files -->
      <link rel="stylesheet" href="{% static 'css/main.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    {{request.session.name}}
    <h1 id="plswork">YAAYYYYY</h1>
    <form action='/new_user' method="POST" >
        {% csrf_token %}
        <input type="text" name="first_name" value="">
        <input type="submit" value = "Submit">
    </form>
</body>
</html>