<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
            var uluru = {lat: <%=@home.latitude%>, lng: <%= @home.longitude%>};
            var uluru2 = {lat: -25.200, lng: 131.233};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: uluru
            });
            var marker1 = new google.maps.Marker({
                position: uluru,
                map: map
            });
            var marker2 = new google.maps.Marker({
                position: uluru2,
                map: map
            });
            }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBA-qD9GOPa0R8ivtu1fUf5J4QkHsmyrqw&callback=initMap" type="text/javascript"></script>

    
    
    
