<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <form action="/blogs" method="POST">
        {% csrf_token %}
        Title <input type="text" name="title">
        <textarea rows="8" cols="40" name="blog"></textarea>
        <input type="submit" value="Enter Blog">
    </form>
    {% for blog in blogs %}
        <h5>{{blog.title}}</h5>
        <p>{{blog.blog}}</p>
        {% for comment in blog.comment_set.all%}
        {{comment.comment}}
        
        {%endfor%}
    <form action="/comments/{{blog.id}}" method="POST">
        {% csrf_token %}
        <textarea rows="8" cols="40" name="comment"></textarea>
        <input type="submit" value="Enter Comment on This BLog">
    </form>
    {% endfor %}
    
</body>
</html>