<h1>Log in</h1>
<form  action="/sessions" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Email</label><br>
  <input type="text" name="user[email]"><br><br>
  <label>Password</label><br>
  <input type="password" name="user[password]"><br><br>
  <button type="Log In">Log In</button>
</form>

<h1>Register</h1>
<form action="/sessions/register" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>First Name </label><br>
  <input type="text" name="user[first_name]" placeholder="John"><br><br>
  <label>Last Name </label><br>
  <input type="text" name="user[last_name]" placeholder="Doe"><br><br>
  <label>Email</label><br>
  <input type="text" name="user[email]" placeholder="John@doe.com"><br><br>
  <label>Password</label><br>
  <input type="password" name="user[password]" placeholder="Secret Password"><br><br>
  <label>Confirm Password:</label><br>
  <input type="password" name="user[password_confirmation]" placeholder="Confirm Secret Password"><br><br>
  <label>City</label><br>
  <input type="text" name="user[city]" placeholder="Chicago"><br><br>
  <label>State</label><br>
  <input type="text" name="user[state]" placeholder="IL"> <br><br>

  <input type="submit" name="" value="Register">
</form>