
<div ng-controller="homePageController">
    <p style="display:inline-block"><b>Home</b> | <a href="#!/add_question">Add a Question</a></p>
    
    <button style="margin-left:275px;"ng-click="logout()">Logout</button>
    <div class="playgame div">
        <button ng-click="playgame()" style="width:350px;height:47px;font-size: 32px;">Play!</button>
        <p>Click the button above to start the trivia game.</p>
    </div>
    <p ng-if="latestScore" style="color:red;">{{latestScore}}</p>
    <label>Search: </label>
    <input type="text" ng-model="playerSearch">
    <table>
        <thead>
            <td>Name</td>
            <td>Score</td>
            <td>Percentage</td>
        </thead>
        <tr ng-repeat="result in results | filter : playerSearch | orderBy: 'score':true" >
            <td>{{result._user.firstName}} {{result._user.lastName}}</td>
            <td>{{result.score}}/3</td>
            <td>{{(result.score/3 * 100)|number:0}} %</td>
        </tr>
    </table>


</div>