<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <form action='/register_eval' method='POST'>
        Email: <input type="text" name="email"> <br>
        First Name:<input type="text" name="first_name"><br>
        Last Name:<input type="text" name="last_name"><br>
        Password: <input type="password" name="password"><br>
        Confirm Password<input type="password" name="password_confirm"><br>
        <input type="submit" value="Submit">
    </form>

    {%with messages= get_flashed_messages()%}
        {%if messages %}
            {% for message in messages%}
            <p style="color: red">{{ message }}</p>
            {%endfor%}
        {%endif%}
    {%endwith%}
</body>
</html>