<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <img src="http://cdn.smosh.com/sites/default/files/legacy.images/smosh-pit/032011/ninja-punch.gif" alt="Ninja gif (pronounced jif.. yeah I said it...)">
    <p>A ninja (忍者?) or shinobi (忍び?) was a covert agent or mercenary in feudal Japan. The functions of the ninja included espionage, sabotage, infiltration, assassination and guerrilla warfare. Their covert methods of waging irregular warfare were deemed "dishonorable" and "beneath" the samurai-caste, who observed strict rules about honor and combat. The shinobi proper, a specially trained group of spies and mercenaries, appeared in the 15th century during the Sengoku period,[3] but antecedents may have existed in the 14th century,and possibly in the 12th century (Heian or early Kamakura era). In modern times they terrorize office spaces, by stealing things from your desk or the community fridge.... and no Karen you cant blame what you did on them, I saw you take my froyo!!</p>

    <p>Name: {{name}}|| Email: {{email}}</p>

</body>
</html>