<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/result" method="post">
        <label>Your Name:</label> <br>
        <input type="text" name="userName"><br>
        <label>Dojo Locations:</label><br>
        <input type="text" name="location"><br>
        <label>Favorite Language:</label><br>
        <input type="text" name="language"><br>
        <label>Comment (optional):</label><br>
        <textarea rows="10" cols="30" name="comment"></textarea><br>
        <button type="submit">Submit!</button>
    </form>




</body>
</html>