<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <h1>Landing Page!</h1>
    <img src="https://i.giphy.com/dzaUX7CAG0Ihi.gif" alt="Bear image didnt load">

    {%with messages= get_flashed_messages()%}
        {%if messages %}
            {% for message in messages%}
            <p style="color: red">{{ message }}</p>
            {%endfor%}
        {%endif%}
    {%endwith%}
    <form action='/eval' method='POST'>
        Name:<input type='text' name='UserName'> 
        Your Favorite Language:
        <select name="FavLang">
            <option value="Python">Python</option>
            <option value="Ruby">Ruby</option>
            <option value="JavaScript">JavaScript</option>
        </select>
        <textarea rows="4" cols="50" name="comment" placeholder="Write a comment"></textarea>
        <input type='submit' value='Submit'>


    </form>
</body>

</html>